<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GameScout | Bookmarks</title>
    <link rel="icon" type="image/x-icon" href="/images/controllerfavico.png" />
    <link rel="stylesheet" href="/cssfiles/main.css" />
    <link rel="stylesheet" href="/cssfiles/bookmarks.css" />
    <link rel="stylesheet" href="/cssfiles/animations.css" />
  </head>
  <body>
    <h1>Bookmarks</h1>
    <a class="arrow" onclick="goBack()">&lt; &lt;</a>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>

    <% if (games && games.length > 0) { %>
    <ul>
      <% games.forEach(game => { %>
      <li>
        <a href="/game/<%= game.id %>">
          <article class="gametile">
            <img src="<%= game.background_image || '/images/fallback.jpg' %>" alt="Game cover" />
            <div>
              <h2><%= game.name %></h2>
              <p>Released: <%= game.released || 'Unknown' %></p>
            </div>
            <button class="remove-bookmark-button" data-game-id="<%= game.id %>"><svg xmlns="http://www.w3.org/2000/svg" width="5em" height="5em" viewBox="0 0 24 24">
              <path fill="#ff9c9c" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" stroke-width="0.5" stroke="#e00000" />
            </svg></button>
          </article>
        </a>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>Je hebt nog geen games opgeslagen als bookmark.</p>
    <% } %>

    <script src="/frontendJS/intersectionObserver.js"></script>
    <script src="/frontendJS/bookmark.js"></script>
  </body>
</html>
