<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GameScouter | Login</title>
    <link rel="icon" type="image/x-icon" href="/images/controllerfavico.png" />
    <link rel="stylesheet" href="/cssfiles/main.css" />
    <link rel="stylesheet" href="/cssfiles/swiper.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title><%= game.name %> Details</title>
  </head>
  <body>
    <h1><%= game.name %></h1>
    <img src="<%= game.background_image %>" width="100%" style="max-width: 800px; border-radius: 8px" />
    <button>Bookmark this game</button>
    <div class="game-info">
      <!-- Hulp van chatgpt, HTML tags strippen, HTML apostrof omzetten naar normale apostrof & quotes omzetten 
       In de string van de API response worden er html tags meegegeven, deze vervangen.-->
      <%= game.description.replace(/<[^>]*>/g, '').replace(/&#39;/g, "'").replace(/&quot;/g, '"') %>
      <p>Released: <%= game.released %></p>
      <p>Rating: <%= game.rating %></p>
      <p>Genres: <%= game.genres.map(genre => genre.name).join(", ") %></p>
      <p>Metacritic score: <%= game.metacritic || 'Geen metacritic score.' %></p>
    </div>

    <section>
    <% if (screenshots && screenshots.length) { %>
      <h2 class="section-title">Screenshots</h2>
      
      <div class="swiper mySwiper2">
        <div class="swiper-wrapper">
          <% screenshots.forEach(screenshot => { %>
            <div class="swiper-slide">
              <img src="<%= screenshot.image %>" alt="<%= game.name %> screenshot" />
            </div>
          <% }); %>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      
      <div thumbsSlider="" class="swiper mySwiper">
        <div class="swiper-wrapper">
          <% screenshots.forEach(screenshot => { %>
            <div class="swiper-slide">
              <img src="<%= screenshot.image %>" alt="<%= game.name %> screenshot thumbnail" />
            </div>
          <% }); %>
        </div>
      </div>
    <% } %>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/frontendJS/swiper.js"></script>
  </body>
</html>