<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GameScouter | Login</title>
    <link rel="icon" type="image/x-icon" href="/images/controllerfavico.png" />
    <link rel="stylesheet" href="/cssfiles/main.css" />
    <link rel="stylesheet" href="/cssfiles/swiper.css" />
    <link rel="stylesheet" href="/cssfiles/details.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title><%= game.name %> Details</title>
  </head>
  <body>
    <section id="hero">
      <h1><%= game.name %></h1>
      <img src="<%= game.background_image %>" />
    </section>
    <section>
      <% if (screenshots && screenshots.length) { %>
      <h2 class="section-title">Images</h2>

      <div class="swiper mySwiper2">
        <div class="swiper-wrapper">
          <% screenshots.forEach(screenshot => { %>
          <div class="swiper-slide">
            <img src="<%= screenshot.image %>" alt="<%= game.name %> screenshot" />
          </div>
          <% }); %>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>

      <div thumbsSlider="" class="swiper mySwiper">
        <div class="swiper-wrapper">
          <% screenshots.forEach(screenshot => { %>
          <div class="swiper-slide">
            <img src="<%= screenshot.image %>" alt="<%= game.name %> screenshot thumbnail" />
          </div>
          <% }); %>
        </div>
      </div>
      <% } %>
    </section>
    <section class="game-info">
      <!-- Hulp van chatgpt, HTML tags strippen, HTML apostrof omzetten naar normale apostrof & quotes omzetten -->
      <h2><%= game.name %></h2>
      <p><%= game.description.replace(/<[^>]*>/g, '').replace(/&#39;/g, "'").replace(/&quot;/g, '"') %></p>
      <div id="tags">
        <p>Released: <br /><%= game.released %></p>
        <p>Rating: <br /><%= game.rating %></p>
        <p>Genres: <br /><%= game.genres.map(genre => genre.name).join(", ") %></p>
        <p>Metacritic score: <br /><%= game.metacritic || 'Geen metacritic score.' %></p>
      </div>
      <button data-action="favorite">Bookmark this game for later</button>
      <a href="/bookmarks">Visit your bookmarks</a>
      <!-- expres niet een class/id toegevoegd om te experimenteren met andere mogelijkheden -->
    </section>
    
    <a class="arrow" onclick="goBack()">&lt; &lt;</a>
    <script>function goBack() {window.history.back();}</script>
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/frontendJS/swiper.js"></script>
    <script src="/frontendJS/favorite.js"></script>
  </body>
</html>
