<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <% games.forEach(game => { %>
        <li>
          <h2><%= game.name %></h2>
          <img src="<%= game.background_image %>" alt="<%= game.name %>" width="300" />
          <p>Released: <%= game.released %></p>
          <p>Rating: <%= game.rating %></p>
          <p>Tags:
            <% game.tags.forEach(tag => { %>
              <%= tag.name %><% if (game.tags.indexOf(tag) !== game.tags.length - 1) { %>, <% } %>
            <% }); %>
          </p>
        </li>
        <% }); %>
    </ul>
</body>
<body>
  <ul>
      <% games.forEach(game => { %>
      <li>
        <h2><%= game.name %></h2>
        <img src="<%= game.background_image %>" alt="<%= game.name %>" width="300" />
        <p>Released: <%= game.released %></p>
        <p>Rating: <%= game.rating %></p>
        <p>Tags:
          <% game.tags.forEach(tag => { %>
            <%= tag.name %><% if (game.tags.indexOf(tag) !== game.tags.length - 1) { %>, <% } %>
          <% }); %>
        </p>
      </li>
      <% }); %>
  </ul>
</body>

</html>