<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamescout | Results</title>
    <link rel="icon" type="image/x-icon" href="/images/controllerfavico.png">
</head>
<body>
    <ul>
        <% games.forEach(game => { %>
        <li>
          <h2><%= game.name %></h2>
          <img src="<%= game.background_image %>" alt="<%= game.name %>" width="300" />
          <p>Released: <%= game.released %></p>
          <p>Rating: <%= game.rating %></p>
          <p>Description: <%= game.description %></p>
          <p>Genres: <%= game.genres.map(genre => genre.name).join(", ") %></p>
          <p>Tags: <%= game.tags
              .filter(tag => ["multiplayer", "singleplayer"].includes(tag.name.toLowerCase()))
                .map(tag => tag.name).join(", ") %>
                <!-- Chat-GPT gevraagd om hoe ik nested arrays kan weergeven op de website-->
            </p>
        </li>
        <% }); %>
    </ul>
</body>

</html>